* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.common_section {
    width: 85%;
    margin: 0 auto 120px;
}


/* 
                                        Header.
=========================================================================================
*/

/* 
                            New year header section.
=============================================================================
*/

#new_year_banner {
    margin-top: 50px;
    border-radius: 15px;
    background-image: url("../images/banners/banner_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.new_year_banner_padding {
    border-radius: 15px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 180px 345px;
}

.new_year_banner_padding h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.new_year_banner_padding h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}








/* 
                                            Main.
=========================================================================================
*/

/* 
                                Our holiday section.
=============================================================================
*/

#our_holiday {
    text-align: center;
}

.our_holiday_padding h3 {
    margin-bottom: 50px;
    color: #F00;
    font-family: Inter;
    font-size: 85px;
    font-weight: 700;
}

.our_holiday_padding h4 {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.our_holiday_padding h5 {
    color: #070211;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    margin: 15px 0 50px;
}



/* 
                                Midnight party section.
=============================================================================
*/

#midnight_pary {
    margin-top: 50px;
    border-radius: 15px;
    background-image: url("../images/banners/vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.midnight_paddig {
    border-radius: 15px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 130px;
    width: 800px;
}

.midnight_paddig h5 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 90px;
    letter-spacing: 7px;
}

.midnight_paddig p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.midnight_paddig button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}



/* 
                                 section.
=============================================================================
*/