* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.common_section {
    width: 85%;
    margin: 0 auto 120px;
}


/* 
                                        Header.
=========================================================================================
*/

/* 
                            New year header section.
=============================================================================
*/

#new_year_banner {
    margin-top: 50px;
    border-radius: 15px;
    background-image: url("../images/banners/banner_image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.new_year_banner_padding {
    border-radius: 15px;
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 180px 345px;
}

.new_year_banner_padding h2 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.new_year_banner_padding h1 {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}








/* 
                                            Main.
=========================================================================================
*/

/* 
                                Our holiday section.
=============================================================================
*/

#our_holiday {
    text-align: center;
}

.our_holiday_padding h3 {
    margin-bottom: 50px;
    color: #F00;
    font-family: Inter;
    font-size: 85px;
    font-weight: 700;
}

.our_holiday_padding h4 {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.our_holiday_padding h5 {
    color: #070211;
    font-family: Inter;
    font-size: 50px;
    font-weight: 700;
    margin: 15px 0 50px;
}



/* 
                                Midnight party section.
=============================================================================
*/

#midnight_pary {
    margin-top: 50px;
    border-radius: 15px;
    background-image: url("../images/banners/vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.midnight_paddig {
    border-radius: 15px;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%);
    padding: 130px;
    width: 800px;
}

.midnight_paddig h5 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 65px;
    font-weight: 900;
    line-height: 90px;
    letter-spacing: 7px;
}

.midnight_paddig p {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin: 25px 0;
}

.midnight_paddig button {
    border: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 25px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}



/* 
                                New park section.
=============================================================================
*/
#new_parck {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    border-radius: 15px;
}

.new_park_padding {
    text-align: center;
    padding: 110px 0;
    font-family: 'Inter', sans-serif;
}

.new_park_padding p {
    color: #070211;
    font-size: 30px;
    font-weight: 600;
    line-height: 55px;
    text-transform: capitalize;
}

.new_park_padding p span {
    color: #F00;
}

.new_park_button {
    padding: 15px 30px;
    color: #FFF;
    background-color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    margin-top: 50px;
}



/* 
                                Best offer section.
=============================================================================
*/
.best_offer_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

/* Offer left. */
.offer_left h5 {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.offer_left h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 15px 0 20px;
}

.offer_left p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    line-height: 35px;
}

/* Offer center. */
.offer_center {
    border: 15px solid #F00;
    background-color: #fff;
    border-radius: 463px;
}

.offer_center img {
    padding: 30px;
}

/* Offer right. */
.offer_right {
    margin-left: 50px;
}

.offer_right h3 {
    color: #F00;
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
}

.offer_right p {
    margin: 15px 0 40px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


/* 
                                Holidays section.
=============================================================================
*/

/* Holidays text section. */
#holidays_text {
    text-align: center;
}

#holidays_text>h4 {
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 15px;
}

#holidays_text>h3 {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holidays_color {
    color: #F00;
}

#holidays_text>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin: 30px 0 65px;
}

/* Holidays pics section. */
#holidays_pics{
    width: 100%;
    position: relative;
}


.holiday_photos_bottom img{
    width: 100%;
}

#holidays_pics img{
    display: block;
    max-width: 100%;
}

.holidays_pic_right {
    display: flex;
    justify-content: flex-end;
}

.holiday_photos_left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.holiday_photos_left img{
    height: 100%;
    width: 80%;
}

.holiday_photos_right {
    position: absolute;
    right: 25%;
    top: 20%;
}



/* 
                                Awesome portfolio section.
=============================================================================
*/

/* Awesome porfolio text. */
#awesome_porfolio_text h5 {
    margin-bottom: 15px;
    color: #F00;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

#awesome_porfolio_text h3 {
    color: #070211;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
    text-transform: capitalize;
}

#awesome_porfolio_text p {
    margin: 20px 0 45px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}


/* Awesome porfolio photos. */
.awesome_photos_flex {
    display: flex;
    justify-content: space-between;
}

.awesome_photos_flex div {
    width: 30%;
    margin: 25px 0 25px;
}

.awesome_photos_flex img {
    display: block;
    max-width: 100%;
}

.awesome_photos_flex div:hover{
    rotate: 360deg;
    transition: .3s;
}


/* 
                            Subscribe Newslatter section.
=============================================================================
*/
#subscribe_newslatter {
    text-align: center;
    padding: 80px 215px;
    background-color: rgba(255, 0, 0, 0.05);
    border-radius: 15px;
}

#subscribe_newslatter h4 {
    margin: 20px 0 40px;
    color: #070211;
    font-family: Merriweather;
    font-size: 45px;
    font-weight: 900;
}

#subscribe_newslatter p {
    margin-bottom: 45px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}

.subscribe_input input,
button {
    border: none;
}

.subscribe_input input {
    border-radius: 50px 0 0 50px;
    padding: 25px 30px;
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

.subscribe_input button {
    border-radius: 0 50px 50px 0;
    padding: 25px 55px;
    background-color: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
}




/* 
                                        Footer.
=========================================================================================
*/
footer {
    background-color: #070211;
    color: #fff;
}

.common_section_bottom {
    margin-bottom: 0;
    padding: 120px 0;
}

.footer_top {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter', sans-serif;
    font-size: 25px;
    margin-bottom: 50px;
}

.footer_top div {
    padding-right: 100px;
}

.footer_top address {
    font-style: normal;
    line-height: 40px;
}

.common_section_bottom hr {
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}

.footer_top_social {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.footer_top_social ul {
    display: flex;
    gap: 10px;
    list-style: none;
}

/* Footer subscribe. */
.footer_subscribe {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
}

.footer_subscribe button {
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 25px;
    font-weight: 500;
    background-color: #070211;
}